{{ include "frontend" "layout/header.tpl.html" }}

{{ if .BalanceError }}
    <div class="alert alert-danger">
    {{ .BalanceError }}
    </div>
{{ end }}

<div class="well well-lg">
    <div class="row" style="padding: 8px">
        <div class="col-md-6"><strong>Balance</strong></div>
        <div class="col-md-6">
            {{ if .BalancePositive }}
                <span class="label label-success">{{ .BalanceValue| printf "%.2f" }} <i class="fa fa-rub"></i></span>
            {{ else }}
                <span class="label label-danger">{{ .BalanceValue | printf "%.2f" }} <i class="fa fa-rub"></i></span>
            {{ end }}
        </div>
    </div>
</div>

{{ include "frontend" "layout/footer.tpl.html" }}