{{ define "content" }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Send SMS / {{ .Config.GetString "sms.provider" }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>Current balance is <code>{{ .balanceValue }}</code> &#8381;</p>

                <form class="form-horizontal form-label-left" role="form" method="post" id="send-sms" action="#" novalidate>
                    <div class="item form-group">
                        <label for="phone" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Phone <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="79012223344" value="" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="message" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Message
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control resizable_textarea" rows="4" name="message" id="message" required="required"></textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="send" type="submit" class="btn btn-success">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
<script src="/dashboard/assets/vendors/validator/js/validator.min.js?v={{ .Application.build }}"></script>

<script language="javascript">
    $(document).ready(function () {
        {{ if .balanceError }}
        new PNotify({
            title: 'Error',
            text: '{{ .balanceError }}',
            type: 'error',
            hide: false,
            styling: 'bootstrap3'
        });
        {{ end }}

        var form = $('#send-sms');

        form.submit(function (e) {
            if (!form.data('valid')) {
                return false;
            }

            $.post(form.attr('action'), form.serialize()).done(function(data) {
                if (data.hasOwnProperty('error') && data['error'] !== null && data['error'].length) {
                    new PNotify({
                        title: 'Error',
                        text: data['error'],
                        type: 'error',
                        hide: false,
                        styling: 'bootstrap3'
                    });
                } else {
                    new PNotify({
                        title: 'Success',
                        text: 'SMS message send success',
                        type: 'success',
                        hide: false,
                        styling: 'bootstrap3'
                    });
                }
            }).fail(function() {
                new PNotify({
                    title: 'Error',
                    text: 'SMS message add to queue failed',
                    type: 'error',
                    hide: false,
                    styling: 'bootstrap3'
                });
            });

            return false;
        });
    });
</script>
{{ end }}